body {
	background-color: #21252E;
	color: white;
	font-family: 'Raleway', sans-serif;
}

a, a:hover {
	color: #57c5f5;
}

.header {
	margin: 80px auto;
	max-width: 700px;
	text-align: center;
	padding: 20px;
}

.header img {
	width: 100px;
}

.header h1 {
	font-size: 52px;
	line-height: 1.1;
	margin: 18px auto;
}

.header p {
	font-size: 18px;
	line-height: 1.5;
}

.vid {
	position: relative;
	margin: auto;
  width: 370px;
	height: 800px;
  overflow: hidden;
  display: inline-block;
}

.list {
	vertical-align: top;
	margin: auto;
	padding: 100px 20px 0;
  max-width: 400px;
	height: 600px;
  display: inline-block;
  text-align: left;
}

.list p {
	font-size: 22px;
	text-align: center;
	margin-bottom: 50px;
}

ul {
	font-size: 18px;
}

li {
	padding: 10px 0;
}

.container {
	padding: 0;
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

video{
	margin-left: -455px;
}

after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 60%;
}

.email-header {
	max-width: 650px;
	font-size: 32px;
	text-align: center;
	margin: 100px auto 0px;
}

.email-form {
	margin: auto;
  max-width: 400px;
}

iframe {
	height: 570px;
	overflow-y: hidden;
}

.contact-info {
	max-width: 650px;
	font-size: 32px;
	text-align: center;
	margin: 50px auto 100px;
}